<div class="container">
  <h3 class="title">My First Template DrivenForm-User Detail!!></h3>
  <br><br>
  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="row">
      <div class="row col-sm-5">
        <div class="form-group">
          <label for="firstname">FirstName</label>
          <input type="text" id="firstname" name="firstname" ngModel class="form-control" required>
        </div>

        <div class="form-group">
          <label for="lastname">LastName</label>
          <input type="text" id="lastname" name="lastname" ngModel class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" ngModel class="form-control" required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid Email!</span>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>&nbsp;&nbsp;&nbsp;
          <input type="radio" value="male" name="gender" ngModel>male
          <input type="radio" value="female" name="gender" ngModel>female
        </div>

        <div class="form-group">
          <label for="isMarried">Married</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" name="isMarried">
      </div>
    </div>

    <div class="row col-sm-2"></div>

      <div class="row col-sm-5">
        <div class="form-group" ngModelGroup="address">
          <label for="country">Country</label>
          <select id="country" name="country" [ngModel]="'India'" class="form-control">
            <option *ngFor="let c of countryList">
              {{c.countryname}}
            </option>
          </select>
      </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" name="city" ngModel class="form-control">
    </div>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" name="street" ngModel class="form-control">
    </div>
    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input type="text" name="pincode" ngModel class="form-control">
    </div>
    <div class="form-group">
      
      <button type="submit" class="btn btn-info" [disabled]="!userForm.valid">Submit</button>
    </div>
      </div>
    </div>
  </form>
</div>